.content {
 min-height: calc(100vh - 348px);
}
.title__event{
  color: #fff !important;
  text-align: center;
  color: #38B491 !important;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0,0,0, .27);
}

.img__evento{
  display: flex;
  justify-content: center;
  background-color: #e1e1e1;
  padding: 32px 32px;
}
.content__text{
  text-align: justify;
}
